<footer>
    <nav>
        <ul>
            <li><a href="/">Footer</a></li>
            <li><a href="/">Footer</a></li>
            <li><a href="/">Footer</a></li>
            <li><a href="/">Footer</a></li>
        </ul>
    </nav>
</footer>